*.gem
*.rbc
.bundle
.config
.yardoc
npm-debug.log
.cache/
.sass-cache/
node_modules/
www/assets/
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
