@import "moon";

@include keyframes(fade_in) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


.monologue-view {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  .message-area {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    padding: 50em 40em 50em; overflow: auto;
  }
  .letter {
    @include animation(fade_in 0.6s);
  }
  &.align-center .message-area { text-align: center; }
  &.align-left .message-area { text-align: left; }
  &.align-right .message-area { text-align: right; }

  &.valign-middle {
    .message-area {
      @include display-flex;
      @include align-items(center);
      .message { width: 100%; }
    }
  }
}