//= require_tree ./components

body {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: black; padding: 0; margin: 0;
}
#moon-application {
  position: absolute;
  left: 50%; top: 50%;
  background: #ccc;
}