//= require normalize
//= require_self
//= require_tree ./components
//= require_tree ./scene-views

@import "compass/css3";

h1, h2, h3, h4, h5, h6, p, div {
  @include box-sizing(border-box);
}

body {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  background: #111; padding: 0; margin: 0;
  font-family: 'Source Sans Pro', sans-serif; font-weight: 400;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input, textarea, select { font-family: 'Source Sans Pro', sans-serif; font-weight: 400; }
}

