<div class="title">
  <span class="text"><%= title %></span>
</div>
<div class="description">
  <span class="text"><%= description %></span>
</div>

<div class='background-wrap'>
  <div class="choice-list"></div>
</div>